* { 
  margin:0; padding: 0; 
}

body {
}

textarea{
   width:400px;

   /* The following three rules make a difference in the script */
   overflow:hidden;
   line-height: 13px;
   font-size: 13px;


   border:1px solid #999;
   padding:10px;
   font-family: monospace;
   margin:0;
   display:block;
   outline:none;
}
textarea:focus{
   border-color:#333;
}
.codecontainer{
   position:relative;
   display:inline-block;
   margin-left: 2%;
   float: left;
}
.line-nums{
   font-size:13px;
   line-height:13px;
   padding:10px 4px;
   font-family: monospace;
   background: #EEE;
   position: absolute;
   width: 20px;
   left: -28px;
   bottom: 0;
   top: 0;
   text-align:right;
}

#topbar {
   background-color:#126B00;
}

#toplinks {
   list-style: none;
   position: absolute;
   right: 0;
}

#toplinks li a {
   color: #fff;
}

#compile {
   margin-bottom: .5em;
}

#code {
   clear: both;
   padding: .5em;
   border: 0;
   min-width: 700px;
   min-height: 300px;
}

#controls {
   position:absolute;
   z-index:9999;
   top: 3%;
   right: 3%;
   padding: 1em;
   background-color:#fff;
   border: 1px solid #aaa;
}

#heap {

}

.heap_row {

}

.heap_loc {

}

.heap_node {

}

.opts_menu {
   background-color:#000;
   padding: 1em;
   color: #fff;
}

.opts_menu label {
   font-size: 12px !important;
}

.active_line {
   font-weight: bold;
   color: #000;
   background-color:#FFFAAD;
   padding: 3px;
}
